@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap");

* {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    padding: 96px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.main__container {
    padding: 32px 32px;
}

.btn {
  background-color: #6415ff;
  padding: 12px 32px;
  border-radius: 9999px;
  border-style: 0px solid;
  border-color: transparent;
  cursor: pointer;
  transition: all 300ms ease;
}

.btn:hover {
  background-color: #5012cc;
}

.white {
  color: #f7fafc;
  font-weight: 600;
  font-size: 14px;
}

.purple {
  color: #6415ff;
}

a {
  text-decoration: none;
  position: relative;
  cursor: pointer;
  color: #1a202c;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  color: #1a202c;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 12px;
  color: #a0aec0;
  font-weight: 700;
}

.main__heading {
  color: #6415ff;
  font-size: 16px;
  font-weight: 600;
}

.main__subheading {
  font-size: 48px;
  font-weight: 900;
  margin: 16px 0 0;
}

.body__para {
  font-size: 16px;
  margin: 16px 0 0;
  font-weight: 500;
}

.learn-more__btn {
  margin: 48px 0 0;
  transition: all 300ms ease;
  position: relative;
}

.learn-more__btn:hover {
  background-color: #5012cc;
  cursor: pointer;
}

/* Navigation */
.btn__menu {
  background-color: transparent;
  font-size: 40px;
  border: none;
  text-align: center;
  color: #1a202c;
  display: none;
  transition: all 300ms ease;
}

.menu__open .menu__backdrop {
  display: flex;
  justify-content: center;
}

.menu__backdrop {
  position: absolute;
  background-color: #ffffff;
  top: 0;
  right: 0;
  bottom: 60%;
  left: 0;
  z-index: 1;
  margin: 24px 16px;
  padding: 32px;
  border: 1px solid;
  border-color: rgb(226, 232, 240);
  border-radius: 4px;
  display: none;
}

.btn__menu--close {
  position: absolute;
  right: 10px;
  top: 4px;
}

.menu__linkss {
  font-size: 18px;
}

.menu__list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  transition: all 300ms ease;
}

.menu__li {
  color: #1a202c;
  font-size: 18px;
  margin: 8px 0;
  padding: 0 0 4px;
  text-align: center;
  font-weight: 600;
  transition: all 300ms ease;
}

.menu__li:hover {
  color: #6415ff;
}

.menu__list--primary {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.menu__btn--primary {
  background-color: #6415ff;
  font-size: 18px;
  margin: 8px 0;
  padding: 12px 32px;
  border-radius: 9999px;
  border-style: 0px solid;
  border-color: transparent;
  cursor: pointer;
  transition: all 300ms ease;
}

.menu__btn--primary:hover {
  background-color: #5012cc;
}

nav {
  height: 60px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  display: flex;
  padding: 0 0 4px;
  margin: 0 24px 0 0;
  color: #243e63;
  font-size: 24px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__logo--img {
  width: 40px;
  height: 40px;
  margin-right: 12px;
}

.nav__links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav__link {
  list-style-type: none;
  font-size: 14px;
  color: #243e63;
  font-weight: 600;
  padding: 0 0 4px;
  border: 0 0 2px;
  margin: 0 24px;
  transition: all 300ms ease;
}

.nav__link:hover {
  text-decoration: underline;
  color: #6415ff;
  cursor: pointer;
}

.nav__link--login {
  margin: 0 24px 0 48px;
  list-style-type: none;
  font-weight: 600;
  font-size: 14px;
  transition: all 300ms ease;
}

.nav__link--login:hover {
  text-decoration: underline;
  color: #6415ff;
}

.nav__link--primary {
  color: #f7fafc;
  list-style-type: none;
  transition: all 300ms ease;
}

.nav__link--primary:hover {
  cursor: not-allowed;
}

/* start */

.start {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.start__content {
  width: 40%;
}

.start__img {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.start__img--customer {
  width: 100%;
  max-width: 512px;
}

.template__para {
  color: #7c8ba1;
  font-size: 18px;
  margin: 32px 0;
}

.input--section {
  width: 448px;
  position: relative;
  max-width: 100%;

}

.email__input {
  border: 2px solid #d9dee6;
  border-radius: 50px;
  padding: 24px 192px 24px 32px;
  font-size: 16px;
  font-weight: lighter;
  outline: none;
  height: 70px;
  transition: all 300ms ease;
}

.email__input:hover {
  border-color: #bfc3c9;
}

.email__input:focus {
  border-color: #6415ff;
}

.email__btn {
  aspect-ratio: 4;
  margin: 8px;
  border-radius: 9999px;
  position: absolute;
  right: 0;
  text-align: center;
}

.input--section input {
  width: 100%;
  border-radius: 9999px;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(226, 232, 240);
  background: #ffff;
  padding: 20px 192px 20px 32px;
  font-weight: 500;
  z-index: -1;
}

.email__btn {
  position: absolute;
  background-color: #6415ff;
  color: #f7fafc;
  font-weight: 600;
  font-size: 16px;
  margin: 8px 8px 8px 0;
  padding: 16px 0;
  border-radius: 9999px;
  border-style: 0px solid;
  border-color: transparent;
  transition: all 300ms ease;
}

.email__btn:hover {
  background-color: #5012cc;
  cursor: pointer;
}

.start__img {
  width: 60%;
}

.start__img--our-customers {
  width: 100%;
  opacity: 0.5;
  margin: 16px 0 0;
  padding: 0 64px 0 0;
}

.start__img--customers {
  margin: 80px 0 0;
}

.start__img--customer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* features */

.features {
  display: flex;
  flex-wrap: wrap;
}

.feature {
  display: flex;
  width: calc(100% / 3);
}

.feature__container {
  padding: 32px 8px;
  margin: 0 16px;
  display: flex;
}

.feature__para {
  margin-top: 16px;
  font-weight: 500;
  line-height: 2;
  font-size: 16px;
}

.services {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body__para--feature {
  text-align: center;
  margin-top: 1rem;
  max-width: 36rem;
  font-weight: 500;
  line-height: 1.625;
  color: #7c8ba1;
}

.img__container {
  width: 66px;
  height: 66px;
  padding: 20px;
  border-color: rgb(226, 232, 240);
  border-style: solid;
  border-radius: 9999px;
  display: flex;
}

.text__container {
  margin: 8px 0 0 16px;
}

/* Quality Work */

.section__wrapper {
  display: flex;
}

.work {
  display: flex;
}

.work__content {
  padding: 32px 0;
  margin: 0 32px 0 0;
  width: 50%;
}

.section__img--container {
  width: 50%;
  display: flex;
  align-items: center;
}

.section__img {
  width: 100%;
}

/* Steps */

.steps {
    display: flex;
    justify-content: space-between;
}

.steps__content {
    display: flex;
    flex-direction: column;
    padding: 32px 0;
    margin: 0 0 0 32px;
    width: 50%;
}

.step__numbers {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.number__heading {
    font-size: 36px;
    color: #CBD5E0;
    font-weight: 600;
}

.number__list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.number__content {
    margin: 0 0 0 24px;
    display: flex;
    flex-direction: column;
}

.number {
    display: flex;
    align-items: center;
    margin: 32px 0 0;
}

.number__subheading {
    font-size: 20px;
    color: #243e63;
}

.number__para {
    margin: 12px 0 0;
    color: #718096;
    font-size: 12px;
    font-weight: 500;
}

/* Values */

.value__points {
    display: flex;
}

.value__point {
    margin: 40px 32px 0 0;
}

.value__icon--affordable {
    background-color: #9AE6B4;
    width: 36px;
    height: 36px;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.value__icon--professionalism {
    background-color: #FEB2B2;
    width: 36px;
    height: 36px;
    padding: 8px;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.value__icon {
    width: 24px;
    height: 24px;
}

.value__para {
    margin: 16px 0 0;
    color: #718096;
    font-size: 12px;
    font-weight: 500;
}

.value__point--container {
    display: flex;
    align-items: center;
}

.value__subheading {
    font-size: 20px;
    margin: 0 0 0 12px;
}


/* Pricing */

.plan__container {
    display: flex;
}

.pricing__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 40px 0 0;
}

.plan {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-right: 16px;
  margin-top: 32px;
  padding: 0 32px;
  border: 1px solid;
  border-color: rgb(226, 232, 240);
  width: calc(100% /3);
  border-radius: 4px;
}

.plan__option {
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price {
    margin: 4px 0;
    font-size: 48px;
    font-weight: 700;
    color: #1a202c;
}

.name {
    font-size: 20px;
    font-weight: 700;
    color: #1a202c;
}

.frequency {
    font-size: 16px;
    color: #a0aec0;
    font-weight: 700;
}

.main__point {
    font-size: 20px;
    font-weight: 700;
    color: #1a202c;
}

.personal__plan--highlight {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 8px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.btn__personal {
    border-radius: 9999px;
    border: 0px;
    padding: 16px 32px;
    text-decoration: none;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    transition: all 300ms ease;
}

.btn__personal:hover {
  background-color: #5012cc;
  cursor: pointer;
}

.points {
    text-align: center;
    margin: 0 -32px;
    padding: 32px;
    list-style: none;
    border-top: 1px solid rgb(226, 232, 240);
    border-bottom: 1px solid rgb(226, 232, 240);
}

.point {
    font-size: 16px;
    font-weight: 500;
    color: #718096;
    margin-top: 16px;
}

.btn__container {
  padding: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.enterprise__plan--highlight {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 8px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.btn__enterprise {
  border-radius: 9999px;
  border: 0px;
  padding: 16px 32px;
  background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
  transition: all 300ms ease;
}

.btn__enterprise:hover {
  background-color: #5012cc;
  cursor: pointer;
}

.business__plan {
  z-index: 0;
  background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%)
}

.btn__business {
  border-radius: 9999px;
  border: 0px;
  padding: 16px 32px;
  color: rgb(76, 81, 191);
  font-size: 14px;
  font-weight: 600;
  background-color: #f7fafc;
  transition: all 300ms ease;
}

.btn__business:hover {
  background-color: #5012cc;
  cursor: pointer;
}

.text__color--white {
  color: #f7fafc;
}

/* Contact */

#contact {
  position: relative;
  z-index: 2;
}

.content__container {
  position: relative;
  padding: 96px 0;
  width: 100%;
  max-width: 1200px;
  border-radius: 8px;
  background-color: #6415ff;
}

.content__circle {
  position: absolute;
  width: 302.99px;
  height: 302.99px;
  background-color: rgb(80, 17, 240);
  opacity: 0.5;
}

.ccircle--bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
  clip-path: circle(50% at 16% 86%);
}

.ccircle--top-right {
  position: absolute;
  right: 0;
  top: 0;
  clip-path: circle(35% at 89% 0);
}

.contact__wrapper {
  z-index: 2;
  margin: 0 6.8%;
  padding: 0 32px;
  display: flex;
  justify-content: space-between;
}

.contact__title {
  font-size: 30px;
  font-weight: 700;
  color: #f7fafc;
  width: 50%;
  z-index: 2;
}

.contact__links {
  display: flex;
  align-items: center;
}

.get__started--link {
  border-radius: 9999px;
  background-color: #f56565;
  margin: 0 32px 0 0;
  padding: 20px 40px;
  font-size: 20px;
  color: #f7fafc;
  font-weight: 700;
  transition: all 400ms ease;
  z-index: 2;
}

.get__started--link:hover {
  background-color: #d14343;
}

.contact__us--link {
  border-radius: 9999px;
  border: 1px solid;
  border-color: #f7fafc;
  padding: 20px 40px;
  font-size: 20px;
  color: #f7fafc;
  font-weight: 700;
  transition: all 400ms ease;
  z-index: 2;
}

.contact__us--link:hover {
  background-color: #f7fafc;
  color: #6415ff;
}

/* Footer */

footer {
  position: relative;
  z-index: 2;
}

.footer__circle {
  position: absolute;
  width: 302.99px;
  height: 302.99px;
  background-color: rgb(80, 17, 240);
  opacity: 0.5;
  z-index: -1;
}

.circle--bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  clip-path: circle(50% at 86% 93%);
}

.circle--top-left {
  position: absolute;
  top: 0;
  left: 0;
  clip-path: circle(50% at 21% 6%);
}

.footer__container {
  padding: 24px 32px;
}

.main__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 48px 0 0;
  position: relative;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style-type: none;
}

.footer__content {
  display: flex;
  flex-direction: column;
}

.menu__links {
  margin: 24px 0 0;
}

.menu__title {
  font-size: 16px;
  color: #f7fafc;
  font-weight: 700;
  position: relative;
  top: 0;
}

.menu__subtitle {
  font-size: 14px;
  font-weight: 500;
  margin: 12px 0 0;
}

.menu__link {
  color: #f7fafc;
  padding: 0 0 4px;
  transition: all 300ms ease;
}

.menu__link:hover {
  text-decoration: underline;
}

.footer__divider {
  width: 100%;
  margin: 64px 0;
  border-bottom: 2px solid;
  color: rgb(226, 232, 240);
  opacity: 0.3;
}

.footer__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  display: flex;
}

.footer__logo--img {
  width: 32px;
  height: 32px;
}

.logo__white {
  font-size: 20px;
  margin: 0 0 0 8px;
  display: flex;
  align-items: center;
  color: #f7fafc;
  font-weight: 900;
}

.copyright {
  font-size: 16px;
  color: #CBD5E0;
}

.footer__social {
  width: 36px;
  height: 36px;
  border-radius: 9999px;
  border: 0px;
  margin: 0 16px 0 0;
  padding: 8px;
  background-color: #f7fafc;
  transition: all 300ms ease;
}

.footer__social:hover {
  opacity: 0.7;
}

.footer__social--end {
  width: 36px;
  height: 36px;
  border-radius: 9999px;
  border: 0px;
  background-color: #f7fafc;
  transition: all 300ms ease;
}

.footer__social--end:hover {
  opacity: 0.7;
}

/* Small phones, tablets, large smartphones */

@media (max-width: 980px) {
  .contact__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact__title {
    padding: 20px;
    width: 100%;
    text-align: center;
  }

  .get__started--link {
    text-align: center;
  }
}

@media (max-width: 768px) {

  .footer__info {
    display: flex;
    flex-direction: column;
  }

  .copyright {
    margin: 32px 0 0;
  }

  .footer__socials {
    margin: 32px 0 0;
  }

  .btn__menu {
    display: contents;
  }

  .nav__link,
  .nav__link--login,
  .nav__link--primary {
    display: none;
  }

  .container {
    display: flex;
    flex-direction: column;
    padding: 56px 0;
  }

  .start__content,
  .section__img--container {
    width: 100%;
  }

  h1 {
    font-size: 30px;
    text-align: center;
  }

  .main__subheading {
    font-size: 36px;
    text-align: center;
  }

  .input--section {
    margin: 0 auto;
  }

  .body__para {
    text-align: center;
    font-size: 16px;
    width: 80%;
  }

  .start__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .template__para {
    font-size: 16px;
    margin: 20px 0;
    text-align: center;
    width: 80%;
    font-weight: 500;
  }

  .start__para {
    font-size: 16px;
    text-align: center;
  }

  .start__img--our-customers {
    margin: 16px 0 0;
    padding: 0;
  }

  .start {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .start__img {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .start__img--customer {
    display: flex;
    margin: 40px 0 0;
  }

  .features {
    width: 100%;
  }

  .feature {
    width: calc(100% / 2);
  }

  .work {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .work__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    width: 80%;
    display: flex;
    align-items: center;
  }

  .steps {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .steps__content {
    display: flex;
    align-items: center;
    margin: 0;
    width: 100%;
  }

  .value__points {
    display: flex;
    flex-direction: column;
  }

  .value__point {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .number {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .number__content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .number__para {
    font-size: 14px;
  }

  .value__point {
    margin: 40px 0 0 0;
  }

  .value__para {
    font-size: 16px;
  }

  .section__img--container {
    display: flex;
    justify-content: center;
  }

  .section__img {
    width: 80%;
  }

  .plan__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .plan {
    width: 60%;
    margin: 32px 0 0 0;
  }
}

/* Small phones */

@media (max-width: 600px) {
  .section__img--container {
    width: 120%;
  }

  .work__content {
    width: 80vw;
  }

  .body__para {
    font-size: 16px;
    width: 80vw;
  }
  
  .feature {
    width: 100%;
  }

  .number__para {
    font-size: 16px;
  }

  .plan {
    width: 70%;
    margin: 32px 0 0 0;
  }
}

@media (max-width: 540px) {
  .menu__links {
    width: calc(100% / 4);
  }

  .body__para--feature {
    font-size: 16px;
  }

  .plan {
    width: 80%;
    margin: 32px 0 0 0;
  }
}

@media (max-width: 470px) {
  .menu__links {
    width: calc(100% / 2);
  }

  .start__img--customers {
    padding: 8px 0 0;
  }

  .plan {
    width: 80%;
    margin: 32px 0 0 0;
  }

  .contact__links {
    display: flex;
    flex-direction: column;
  }

  .get__started--link {
    margin: 20px 0;
  }
}

@media (max-width: 350px) {
  .plan {
    min-width: 80%;
    margin: 32px 0 0 0;
  }
}

@media (max-width: 150px) {
  .menu__backdrop {
    bottom: 56%;
  }  
}